.banner {
  /* object-fit: cover; */
  height: 60vh;
  /* height: auto; */
  display: flex;
  align-items: center;
}
.banner .banner_contents {
  width: 80%;
  /* padding: 10rem 0; */
  margin-top: 4rem;
  color: white;
  margin-left: 20px;
}
.banner_contents h1 {
  font-size: 3rem;
}
.banner__buttons {
  display: flex;
  padding: 0.5rem 0.2rem;
  max-width: 150px;
  justify-content: space-between;
}
.banner__buttons .banner_button {
  padding: 0.8rem 0.8rem;
  border-radius: 3px;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  background: rgba(51, 51, 51, 0.5);
  color: white;
}
.banner__buttons .banner_button:hover {
  color: black;
  transition: all 0.2s;
  background-color: #fff;
}
.banner .banner_description {
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 500px;
  line-height: 1.4;
  margin-top: 0.5rem;
}
